<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- base-package 설정위치 포함 하위 패키지 모두 검색 처리
		여러개 선언해도 되고, 구분자(빈칸,콤마,세미콜른 등) -->
	<context:component-scan base-package="com.spring.mr.service"/>
	
	<!-- === Spring JDBC 관련 설정 === -->
	<!-- DataSource 설정 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
			destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
		<property name="username" value="meroom" />
		<property name="password" value="meroompw" />
	</bean>
	
	<!-- 스프링JDBC : JdbcTemplate 객체 생성 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- ============================================== -->
	<!-- 스프링-마이바티스 연동 설정 -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />	
		<!-- <property name="mapperLocations" value="classpath:mappings/**/*Mapper.xml" /> -->
		<property name="mapperLocations" value="classpath:mappings/**/*Mapper.xml"/>
	</bean>
	
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" /> 	
	</bean>
	
		<bean class="org.springframework.mail.javamail.JavaMailSenderImpl" name="mailSender">

		<property value="smtp.gmail.com" name="host"/>
		<property value="587" name="port"/>
		<property value="akdrhtn1@gmail.com" name="username"/>
		<property value="alfna11/23" name="password"/>
		<property name="javaMailProperties">


		<props>
		<prop key="mail.smtp.starttls.enable">true</prop>
		<prop key="mail.smtp.auth">true</prop>
		<prop key="mail.transport.protocol">smtp</prop>
		<prop key="mail.debug">true</prop>
		<prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
		<prop key="mail.smtp.ssl.protocols">TLSv1.2</prop>
<!-- <prop key="mail.transport.protocol">smtp</prop><prop key="mail.smtp.auth">true</prop><prop key="mail.smtp.starttls.enable">true</prop><prop key="mail.smtp.ssl.enable">true</prop><prop key="mail.debug">true</prop><prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop><prop key="mail.smtp.ssl.protocols">TLSv1.2</prop> -->
		</props>
		</property>
		</bean>
		
		<!-- google Class Bean설정 추가 -->


<!-- 클라이언트ID와 보안비밀 세팅-->

<!-- 		<bean class="org.springframework.social.google.connect.GoogleConnectionFactory" id="googleConnectionFactory">
		<constructor-arg value="592134177031-hjhk243f769qa8dlo0md5gn7jk7o7lt3.apps.googleusercontent.com"/>
		<constructor-arg value="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"/>
		</bean>

		승인된 자바스크립트 원본과 승인된 리디렉션 URI

		<bean class="org.springframework.social.oauth2.OAuth2Parameters" id="googleOAuth2Parameters">
		<property value="https://www.googleapis.com/auth/plus.login" name="scope"/>
		<property value="http://localhost:8080/mr/signUpSocial.jsp" name="redirectUri"/>
		</bean> -->
	
</beans>
