
#cont1{
   position: relative;
   top: 20%;
   
}
#panel{
    position: relative;
    width: 400px;
    height: 100%;
   
}
.panel-default>.panel-heading{
    text-align: left;
    font-weight: 700;
    font-size: 18px;

}
.wrap{
    background-color: rgb(246, 246, 246);
    height: 100vh;
}
#panel{

    margin: 0 auto;
}
input[type=text]{
    margin-top: 30px;
}

#login{
	display:block;
    padding-top : 5px;
    
}
.panel-body .input{
    width: 350px;
    height: 50px;
    margin-left: 3%;
    
}

.out {
	text-align: center;
}
.logo {
	 margin: 25px 15px;
}
.btn{
	display:block;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    width: 350px;
    text-align: center;

}



.bottom-menu{
    height: 20px;
    text-align: center;
    margin-right: 20px;
    
}


a{
	color: #337ab7;
    margin-left: 20px;
}

.btn-lg{
	
    padding-top: 15px;
}

.contxt{
    line-height: 19px;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}


